.px-5 {
    background: url("./skyp.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size:100%;
}
#one {
    width: 100%;
    height: 420px;
}
.h1 {
    font-size: 50px;
    font-weight: 900;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.goal {
    font-size: 20px;
    font-weight: 500;
}
.don {
    text-decoration: none;
    color: rgb(5, 5, 99);
}
.don:hover {
    color: rgb(10, 10, 240);
}
.vote {
    background: url("./tree.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size:100%;
    padding-top: 70px;
}
li {
    font-size: 13px;
}
#king {
   float: right; 
}
#for {
    background: url(./hill.png);
    height: 450px;
    background-repeat: no-repeat;
    background-size:auto;
    /* border: 3px solid red; */
    margin-bottom: 30px;
}
.yoc {
    font-size: 14px;
    color: white;
}
#none {
    font-size: 14px;
    color: blue;
    padding-left: 20px;
}